html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 62.5%;
    background: #fefefe;
    color: #333;
}

body {
    background: #90D7EC;
}

a {
    color: #333;
}

a img {
    transition: opacity .2s ease-in-out;
}

a img:hover {
    opacity: .75;
}


.page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page > div > .main {
    position: relative;
    padding: 0 22px;
    flex-grow: 1;
}
